.navbar.navbar-static-top
  .navbar-inner
    = link_to 'BitHub', root_path, class: 'brand'
    %ul.nav
      %li.divider-vertical
      %li= link_to 'Students', '#'
      %li= link_to 'Tips & Tricks', '#'
      %li= link_to 'Resources', '#'
