%h1 Sign Up
= form_for @user do |f|
  =if @user.errors.any?
    .error_messages
      %h2
        There were problems, my friend.
      %ul
        - for message in @user.errors.full_messages
          = message
  .field
    =f.label :email
    =f.text_field :email
  .field
    =f.label :full_name
    =f.text_field :full_name
  .field
    =f.label :bio
    =f.text_area :bio
  .field
    =f.label :github_link
    =f.text_field :twitter_link
  .field
    =f.label :blog_link
    =f.text_field :blog_link
  .field
    =f.label :gravitar
    =f.text_field :gravitar # to set up after MVP
  .field
    =f.label :password
    =f.password_field :password
  .field
    =f.label :password_confirmation
    =f.password_field :password_confirmation
  .actions
    =f.submit