/ From hipsteripsum.me

.hero-unit
  %h1 Welcome Bitmakers!
  %p BitHub was created to improve the experience of Bitmaker Labs students. Here you can find tips and tricks ranging from Ruby, Rails and CSS, to where to find the best burger near 20 Duncan St. 

.row
  .span4
    %h3 New resources
    = render 'shared/resource_list', resources: @resources

  .span4
    %h3 New tips & tricks

  .span4
    %h3 Tags
