/ From hipsteripsum.me

.hero-unit
  %h1 Welcome Bitmakers!
  %p BitHub was created to improve the experience of Bitmaker Labs students. Here you can find tips and tricks ranging from Ruby, Rails and CSS, to where to find the best burger near 20 Duncan St. 

%p
  Deserunt ullamco raw denim american apparel vinyl pariatur. Organic aesthetic craft beer aliquip pug bicycle rights, duis neutra pinterest next level locavore mollit aute irony whatever. Quis artisan stumptown selfies, banksy bicycle rights high life. Lomo ea exercitation, wayfarers farm-to-table trust fund ugh synth meggings try-hard portland. Salvia culpa disrupt, nulla tattooed nisi dolor cillum etsy art party high life deep v sriracha thundercats incididunt. Wes anderson fanny pack actually, cray officia portland banh mi. Food truck kale chips quis, messenger bag consequat adipisicing odio selvage.

%p
  Flexitarian freegan ullamco, banh mi incididunt esse cupidatat meggings enim hoodie. Seitan vero irure, ut mustache before they sold out nisi. Tousled disrupt ennui, mcsweeney's tonx helvetica cardigan DIY qui yr. Butcher portland banh mi jean shorts readymade, cray meh ad nisi esse pitchfork pariatur enim. Meggings wes anderson american apparel retro, YOLO fashion axe flannel deep v. American apparel you probably haven't heard of them keytar nesciunt pop-up, etsy ethnic sapiente. Selvage pickled readymade accusamus qui gastropub.

%p 
  Wes anderson YOLO gentrify, sriracha banksy kale chips tofu. Master cleanse mumblecore incididunt post-ironic elit, polaroid seitan high life intelligentsia deserunt assumenda sint. Officia 3 wolf moon chillwave locavore church-key dolore. Stumptown tumblr mlkshk laboris, gluten-free meh narwhal lomo intelligentsia bushwick 8-bit delectus godard tousled tattooed. Mixtape butcher pickled, assumenda thundercats organic sartorial wayfarers ethical deep v art party. Ullamco artisan kale chips assumenda hoodie shoreditch, voluptate ethnic. Ex disrupt blue bottle 8-bit, selfies hashtag DIY.
