%h2.well= "Items tagged '#{@tag.name}'"

.row
  -unless @resources.empty?
    .span6
      %h3 Resources
      %ul
      = render 'shared/resource_list', resources: @resources

  -unless @tips.empty?
    .span6
      %h3 Tips & Tricks
      = render 'shared/tip_list', tips: @tips