.modNav {
  float: right;
}

.navbar .navbar-text {
  margin-right: 5px;
  padding: 10px 10px 10px;
}

.inline {
  display: inline-block;
  line-height: 42px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.topMarginTwenty {
  margin-top: 20px;
}
