.navbar {
  font-size: 18px;
}

.navbar-text > a {
  color: white;
  text-decoration: underline;
}

.inline {
  display: inline-block;
  line-height: 42px;
  margin-top: 0px;
  margin-bottom: 0px;
}

#user_bio {
 height: 100px;

}