.modNav {
  float: right;
}

.navbar .navbar-text {
  margin-right: 5px;
  padding: 10px 10px 10px;
}

ul.resources {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul.resources li {
  /* TRBL */
  padding: 10px 0 10px 0;
}

